<div class="header">
  <div class="head-logo">
    <center><a href="/"><img src="{{ site.baseurl }}/assets/img/mdcv5side.svg"/></a></center>
  </div>
  <center>
    <div class="social-icons">
      <a href="http://twitter.com/stoppre"><img src="{{ site.baseurl }}/assets/img/twitter.svg"/></a>
      <a href="http://instagram.com/stoppre"><img src="{{ site.baseurl }}/assets/img/insta.svg"/></a>
      <a href="http://dribbble.com/stoppre"><img src="{{ site.baseurl }}/assets/img/dribbble.svg"/></a>
      <a href="https://github.com/ivrunner"><img src="{{ site.baseurl }}/assets/img/github.svg"/></a>
      <a href="https://medium.com/@stoppre"><img src="{{ site.baseurl }}/assets/img/medium.svg"/></a>
      <a href="mailto:richyentam@gmail.com"><img src="{{ site.baseurl }}/assets/img/mail.svg"/></a>
    </div>
  </center>
  <nav>
    <center>
      <ul>
        <li><a href="/">HOME</a></li>
        <!-- <li><a href="/portfolio">PORTFOLIO</a></li> -->
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </center>
  </nav>
</div>
