.foot
  background: $sol-dark
  padding-top: 20px
  padding-bottom: 20px

.botmlogo
  @include grid-container
  padding-top: 0px
  padding-bottom: 10px
  img
    width: 150px
    @include grid-column(.5)
    @include grid-shift(5.75)
    margin-left: 15px
    @media screen and (max-width: $break-small)
      @include grid-column(2)
      @include grid-shift(5)
      padding-left: 20px
      padding-right: 20px
      margin-left: 0px
      @media screen and (max-width: $break-small) and (orientation:landscape)
        @include grid-column(8)
        @include grid-shift(2)
        padding: 0px


.foot-contact
  @include grid-container
  img
    @include grid-column(2)
    @include grid-shift(5)
    padding-top: 30px
    padding-bottom: 30px
    @media screen and (max-width: $break-small)
      @include grid-column(8)
      @include grid-shift(2)

.social-icons
  @include grid-container
  img
    @include grid-column(.5)
    @include grid-shift(4.75)
    height: 30px
    padding-top: 30px
    padding-bottom: 30px
    @media screen and (max-width: $break-small)
      @include grid-column(1.5)
      @include grid-shift(2.25)
.foot-text

  @include grid-container
  p
    font-family: "futura-pt-bold",sans-serif
    text-align: center
    padding-bottom: 0px
    margin-bottom: 0px
    color: #809694
    a
      color: $link-color
