$mobile: new-breakpoint(max-width 768px)

.head-logo
  @include grid-container
  padding-top: 40px
  img
    @include grid-column(4)
    @include grid-shift(4)

nav
  @include grid-container
  padding-top: 20px
  ul
    list-style-type: none
    margin: 0
    padding: 10 0 10 0

    li
      display: inline
      padding: 10px

      a
        color: black
        text-decoration: none
