.slogan
  @include grid-container
  padding: 20px

  img
    @include grid-column(8)
    @include grid-shift(2)

.main-text
  @include grid-container
  padding: 20px
  padding-top: 0px

  p
    @include grid-column(8)
    @include grid-shift(2)
    text-align: left
    font-size: 1.5em
    padding-top: 0px

.smw
  @include grid-container

  img
    @include grid-column(4)
    @include grid-shift(4)
