---
layout: default
---

<div class="home">

  <div class="slogan">
    <img src="{{ site.baseurl }}/assets/img/slogan.svg">
  </div>

  <div class="main-text">
    <p>{{ content }}</p>
  </div>

  <div class="smw">
    <img src="{{ site.baseurl }}/assets/img/smw.svg"/>
  </div>

  <div class="homeport">
    <center><div class="portimg">
    <img src="{{ site.baseurl }}/assets/img/test.png"/>
    <img src="{{ site.baseurl }}/assets/img/test.png"/>
    <img src="{{ site.baseurl }}/assets/img/test.png"/>
    <img src="{{ site.baseurl }}/assets/img/test.png"/>
  </div></center>
  </div>





</div>
