---
layout: default
---

<div class="home">
  <!--
    <div class="slogan">
      <img src="{{ site.baseurl }}/assets/img/slogan.svg">
    </div>
  -->

  <!--
    <div class="main-text">
        <div class="main-text-wrapper">
          {{ content }}
        </div>
      </div>

      <div class="smw">
        <img src="{{ site.baseurl }}/assets/img/smw.svg"/>
      </div>
    <center><h2>CLICK LOGOS TO SEE MORE!<h2></center>
  -->
  <div class="homeport">
    <center>
      <div class="portimg">
        <a href="{{ site.baseurl }}/assets/img/bird-crop.png"
          ><img src="{{ site.baseurl }}/assets/img/bird.jpg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/Geralt_12-24-20.jpeg"
          ><img src="{{ site.baseurl }}/assets/img/geralt-thumb.jpg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/bbna.svg"
          ><img src="{{ site.baseurl }}/assets/img/bbna.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/ubc-1.svg"
          ><img src="{{ site.baseurl }}/assets/img/ubc-1.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/mdc-2018.svg"
          ><img src="{{ site.baseurl }}/assets/img/mdc-2018.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/ha.svg"
          ><img src="{{ site.baseurl }}/assets/img/ha.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/BCICON.png"
          ><img src="{{ site.baseurl }}/assets/img/BCICON.png"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/alpine.svg"
          ><img src="{{ site.baseurl }}/assets/img/alpine.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/grundy.svg"
          ><img src="{{ site.baseurl }}/assets/img/grundy.svg"
        /></a>
        <a href="/case-study/2017/05/20/Case-Study-Cedar-Creek-Longbeards"
          ><img src="{{ site.baseurl }}/assets/img/CCLB-Logo2.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/homes.svg"
          ><img src="{{ site.baseurl }}/assets/img/homes.svg"
        /></a>
        <a href="2017/05/22/Case-Study-Boxmate-and-IAS"
          ><img src="{{ site.baseurl }}/assets/img/ias.svg"
        /></a>
        <a href="2017/05/22/Case-Study-Boxmate-and-IAS"
          ><img src="{{ site.baseurl }}/assets/img/boxmate.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/heritage.svg"
          ><img src="{{ site.baseurl }}/assets/img/heritage.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/manning.svg"
          ><img src="{{ site.baseurl }}/assets/img/manning.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/ohio.svg"
          ><img src="{{ site.baseurl }}/assets/img/ohio.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/bfarms.svg"
          ><img src="{{ site.baseurl }}/assets/img/bfarms.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/jimmy.svg"
          ><img src="{{ site.baseurl }}/assets/img/jimmy.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/gw.svg"
          ><img src="{{ site.baseurl }}/assets/img/gw.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/rojo.svg"
          ><img src="{{ site.baseurl }}/assets/img/rojo.svg"
        /></a>
        <a href="{{ site.baseurl }}/assets/img/c&m.svg"
          ><img src="{{ site.baseurl }}/assets/img/c&m.svg"
        /></a>
      </div>
    </center>
  </div>
</div>
