---
layout: default
---
<div class="homeport">
  <center><div class="portimg">
    <a href="/case-study/2017/05/20/Cedar-Creek-Longbeards-Case-Study.html"><img src="{{ site.baseurl }}/assets/img/CCLB-Logo.svg"/></a>
    <img src="{{ site.baseurl }}/assets/img/homes.svg"/>
    <img src="{{ site.baseurl }}/assets/img/ias.svg"/>
    <img src="{{ site.baseurl }}/assets/img/arcadia.svg"/>
    <img src="{{ site.baseurl }}/assets/img/boxmate.svg"/>
    <img src="{{ site.baseurl }}/assets/img/heritage.svg"/>
</div></center>
</div>
