---
layout: default
---
<div class="homeport">
  <center><div class="portimg">
    <a href="/case-study/2017/05/20/Case-Study-Cedar-Creek-Longbeards"><img src="{{ site.baseurl }}/assets/img/CCLB-Logo.svg"/></a>
    <a href="{{ site.baseurl }}/assets/img/homes.svg"><img src="{{ site.baseurl }}/assets/img/homes.svg"/></a>
    <a href="2017/05/22/Case-Study-Boxmate-and-IAS"><img src="{{ site.baseurl }}/assets/img/ias.svg"/></a>
    <a href="/case-study/2017/05/21/Case-Study-Arcadia-HVAC"><img src="{{ site.baseurl }}/assets/img/arcadia.svg"/></a>
    <a href="2017/05/22/Case-Study-Boxmate-and-IAS"><img src="{{ site.baseurl }}/assets/img/boxmate.svg"/></a>
    <a href="{{ site.baseurl }}/assets/img/heritage.svg"><img src="{{ site.baseurl }}/assets/img/heritage.svg"/></a>
    <a href="{{ site.baseurl }}/assets/img/manning.svg"><img src="{{ site.baseurl }}/assets/img/manning.svg"/></a>
    <a href="{{ site.baseurl }}/assets/img/ohio.svg"><img src="{{ site.baseurl }}/assets/img/ohio.svg"/></a>
    <a href="{{ site.baseurl }}/assets/img/bfarms.svg"><img src="{{ site.baseurl }}/assets/img/bfarms.svg"/></a>
</div></center>
</div>
